 <section class="d-flex flex-row justify-center">
      {{!-- Home page shows title and login button
      If user logs in and session is not over, login button turns to logout button --}}
    {{#if logged_in}}
    <div class="w-100">
      <div class="flex-row">
        <header>
          <h1>🌺 Hey, {{user.username}}! What's the 411? 🌺</h1>
        </header>
      </div>
      <div>
        <a href="/api/profile/goal">My Goals</a>
        <button class="no-button" id="logout" class="btn-no-style">Logout</button>
      </div>
    </div>
    {{else}}
    <div class="w-100">
      <div class="row">
        <header>
          <h1>🌺 Hey, chica! What's the 411? 🌺</h1>
        </header>
      </div>
    </div>
    <div>
      <div class="row text-center my-2">
        <a class="my-login justify-content-center position-relative" href="/login"> Login</a>
      </div>
    </div>
      {{!-- <header>
        <h1>🌺 Hey, chica! What's the 411? 🌺</h1>
      </header> --}}
      {{!-- <div> 
        <a href="/login"> Login</a>
      </div> --}}
    {{/if}}
    </section>