 {{!-- <section class="d-flex flex-row justify-center"> --}}
      {{!-- Home page shows title and login button
      If user logs in and session is not over, login button turns to logout button --}}
    {{#if logged_in}}
    <div class="w-100">
      <div>
        <header>
          <h1>🌺 Hey, {{user.username}}! What's the 411? 🌺</h1>
        </header>
      </div>
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-center">
            <button type="button" class="mx-5 btn btn-danger goals-btn">My Goals</button>
            <button type="button" class="mx-5 btn btn-danger" id="logout">Logout</button>
          </div>
        </div>
          
      </div>
    </div>
    {{else}}
    <div class="w-100">
      <div>
        <header>
          <h1>🌺 Hey, chica! What's the 411? 🌺</h1>
        </header>
      </div>
    </div>
    {{/if}}
    </section>