<section class = "d-flex flex-row">
<img class="z-1 img-fluid position-absolute opacity-50" src="/assets/404_bg.jpg" alt="1990s themed image"/>

  <div class = "flex-row row-3 align-items-center">

    <div class=" flex-col goal-card my-3 justify-align-center z-3 position-relative">

  {{!-- how to center the damn table... --}}
      <div class="row card-body not-found">
        <p>Psych!</p>
        <p>404 Not Found, Duh</p>
      </div>

    </div>
  </div>
</section>