<div class="container">
  <div class="row">
    <div class="col">
      <table class = "table table-bordered text-center">
          <tr id="round-corner-top">
            <th colspan="2">{{name}}</th>
          </tr>
        <tr>
          <td>Description</td>
          <td>{{description}}</td>
        </tr>
        <tr>
          <td>Date Entered</td>
          <td>{{format_date start_date}}</td>
        </tr>
        <tr>
          <td id="round-corner-b-l">Deadline</td>
          <td id="round-corner-b-r">{{format_date end_date}}</td>
        </tr>
        </table>
    </div>
  </div>

</div>