<div class="container">
  <div class="row">
    <div class="col yellowBg">
      <table class = "table border border-dark text-center">
          <tr id="round-corner-top">
            <th colspan="2" class="tableName">{{name}}</th>
          </tr>
        <tr>
          <td class="title">Description</td>
          <td class="content">{{description}}</td>
        </tr>
        <tr>
          <td class="title">Date Entered</td>
          <td class="content">{{format_date start_date}}</td>
        </tr>
        <tr>
          <td class="title" id="round-corner-b-l">Deadline</td>
          <td class="content" id="round-corner-b-r">{{format_date end_date}}</td>
        </tr>
        </table>
    </div>
  </div>

</div>