{{#each goals as |goal|}}
{{> goal-details}}
{{/each}}


{{!-- logo --}}
{{!-- login button --}}

<div class="container-fluid">
    <img class="z-1 img-fluid position-absolute opacity-50" src="/assets/homepage.jpg" alt="1990s themed background"/>
</div>