{{> page-header}}

{{!-- logo --}}
<div class="z-2">
    <h1 class="anime-text align-center text-center">
        <span class="animate">You</span><br />
        <span class="animate">Goal</span><br />
        <span class="animate">Girl</span><br />
        {{!-- login button --}}
        <span class="animate start-btn"><button type="submit">Get Started!</button></span>
    </h1>
</div>