{{!-- animation --}}
<div class="col">
    <div class="container">
        <h1 class="anime-text align-center text-center">
            <span class="animate">You</span><br />
            <span class="animate">Goal</span><br />
            <span class="animate">Girl!</span><br />
        </h1>
    </div>
    <div class="align-center text-center">
    {{!-- login button --}}
    <button type="submit" class="btn start-btn btn-primary">Get Started!</button>
    </div>
</div>



