{{> page-header}}

<div class="container-fluid">
    <img class="z-1 img-fluid position-absolute opacity-25" src="/assets/homepage.jpg" alt="1990s themed background"/>
</div>

{{!-- logo --}}
<div class="z-2">
    <h1 class="anime-text">
        <span class="animate">You</span>
        <span class="animate">Goal</span>
        <span class="animate">Girl</span>
        {{!-- login button --}}
        <span class="animate start-btn"><button type="submit">Get Started!</button></span>
    </h1>
</div>