<div class="container">
  <div class="row">
    {{!-- login form --}}
    <div class="col align-center">
      <h2 class="page-title">Login</h2>
        <form class="form login-form">
        <div class="form-floating">
          <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
          <label for="email-login">Email: </label>
        </div>
        <br />
        <div class="form-floating">
          <input type="password" class="form-control" id="password-login" placeholder="Password">
          <label for="password-login">Password: </label>
        </div>
        <br />
        <div class="form-floating">
          <button class="btn btn-danger" type="submit">Login</button>
        </div>
    </div>

    {{!-- sign-up form --}}
    <div class="col align-center">
      <h2 class="page-title">Signup</h2>
        <form class="form signup-form">
        <div class="form-floating">
          <input type="text" class="form-control" id="username-signup" placeholder="type username here">
          <label for="username-signup">Username: </label>
        </div>
        <br />
        <div class="form-floating">
          <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
          <label for="email-signup">Email: </label>
        </div>
        <br />
        <div class="form-floating">
          <input type="password" class="form-control" id="password-signup" placeholder="Password">
          <label for="password-signup">Password: </label>
        </div>
        <br />
        <div class="form-floating">
          <button class="btn btn-danger" type="submit">Signup</button>
        </div>
    </div>
  </div>
</div>
  
  
  
<script src="./js/login.js"></script>