
    {{> page-header}}

  <div class="flex-column justify-content-center">
    {{#each goals as |goal|}}
    {{> goal-details}}
    {{/each}}
  </div>

  {{!-- ADD A NEW GOAL --}}
  <div class="add-goal-container justify-content-center flex-column">
    <h2>
      Add a New Goal
    </h2>
    <form class="add-goal-form">
      <label for="goal_name">
        Goal Name:
      </label>
      <br />
      <textarea id="goal_name" name="goal_name" rows="2" cols="30">
        {{goal_name}}
      </textarea>
      <br />
      <label for="description">
        Description:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
        {{description}}
      </textarea>
      <br />
      <label for="start_date">
        Start Date:
      </label>
      <br />
      <input type="date" id="start_date" name="start_date" rows="2" cols="30">
        {{start_date}}
      </textarea>
      <br />
      <input type="date" id="end_date" name="end_date" rows="2" cols="30">
        {{end_date}}
      </textarea>
      <br />
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
 
  <script src="/js/add-goal.js"></script>